<div class="users-follow-users">
  <% users.each do |user| %>
    <div class="users row m-3">
      <div class="user text-center p-2 col-xs-12 col-sm-3">
        <div class="icon text-center">
          <% if user.icon.present? %>
            <%= image_tag user.icon %>
          <% else %>
            <%= image_tag asset_path("usericon.png") %>
          <% end %>
        </div>
        <div class="name text-center">
          <h4><%= link_to user.name, user_path(user.id) %></h4>
        </div>
      </div>
      <div class="profile text-center p-2 col-xs-12 col-sm-7">
        <% if user.profile.present? %>
          <p><%= user.profile.truncate(60) %></p>
        <% end %>
      </div>
      <div class="form text-center p-2 col-xs-12 col-sm-2">
        <% unless user.id == current_user.id %>
          <%= render 'follow_form', user: user %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate users, remote: true %>
</div>
