<div class="users-follow-users">
  <% users.each do |user| %>
    <div class="users row m-3">
      <div class="user text-center p-2 col-xs-12 col-sm-3">

        <div class="icon text-center">
          <% if user.icon.present? %>
            <%= image_tag user.icon %>
          <% else %>
            <%= image_tag asset_path("usericon.png") %>
          <% end %>
        </div>

        <div class="name text-center">
          <h4><%= link_to user.name, user_path(user.id) %></h4>
        </div>

      </div>

      <div class="profile text-center p-2 col-xs-12 col-sm-7">
        <% if user.profile.present? %>
          <p><%= user.profile.truncate(60) %></p>
        <% end %>
      </div>

      <div class="icon text-center p-2 col-xs-12 col-sm-2">
        <p><i class="material-icons md-18 align-text-bottom">watch_later</i> : <%= user.schedules.count %></p>
        <p><i class="fa fa-heart"></i> : <%= user.favorites.count %></p>
      </div>

      <div class="trace">
        <p>
          <i class="fa fa-check"></i>Trace中のスケジュール : </span>
          <%= link_to user.trace_schedule_title, schedule_path(id: user.schedule_id) if user.schedule_id.present? %>
        </p>
      </div>
    </div>
  <% end %>
  <%= paginate users, remote: true %>
</div>
