<div class="container">
  <div class="row">
    <% @schedules.each do |schedule| %>
      <div class="schedule-index-card col-md-6 col-sm-12">
        <div class="card">
        <div class="card-header">
          <%= link_to schedule.title, schedule_path(schedule.id) %>
        </div>
        <div class="card-body">
        <p><%= schedule.content %></p>
      </div>
        <div class="card-footer">
            <% if schedule.user.icon.present? %>
              <%= image_tag schedule.user.icon, class: "float-right"%>
            <% else %>
              <%= image_tag asset_path("usericon.png"), class: "float-right" %>
            <% end %>
            <p class="float-right">投稿者:<%= link_to schedule.user.name, user_path(id: schedule.user_id) %></p>
        </div>
      </div>
      </div>
      <% end %>
      </div>
    </div>
<div class="schedule-index-pagenation">
<%= paginate @schedules %>
</div>
</div>
