<div class="users-show">
  <div class="container">
    <div class="row">
      <div class="info text-center col-sm-5">
        <div class="icon">
          <% if @user.icon.present? %>
            <%= image_tag @user.icon %>
          <% else %>
            <%= image_tag asset_path("usericon.png") %>
          <% end %>
        </div>
        <div class="name">
          <p><%= @user.name %></p>
        </div>
        <div class="follow-link">
          <%= render partial: 'follow_link', locals: { user: @user } %>
        </div>
          <% unless current_user.id == @user.id %>
        <div class="follow-btn">
            <%= render partial: 'follow_form', locals: { user: @user } %>
        </div>
        <% end %>
          <% if @user.profile.present? %>
        <div class="profile d-inline-block">
          <p><%= @user.profile %></p>
        </div>
          <% end %>
          <div class="favorite">
            <a href="<%= favorite_stocks_user_path %>">
              <i class="fa fa-heart"></i>
              いいね : <%= @user.favorites.count %>
            </a>
          </div>
        <div class="create">
          <a href="<%= create_stocks_user_path %>">
            <i class="fa fa-watch" aria-hidden="true"></i>
            作成スケジュール : <%= @user.schedules.count %>
          </a>
        </div>
        <% if current_user.id == @user.id %>
          <div class="edit m-2">
            <%= link_to "アカウント編集", edit_user_registration_path, class: "btn btn-outline-secondary btn-sm" %>
          </div>
          <div class="logout-btn m-2">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm" %>
          </div>
          <% end %>


      </div>

      <div class="chart col-sm-7">
        <% if @user.schedule_id.present? %>
        <h4 class="font-weight-bold text-center p-3"><%= link_to @schedule.title, schedule_path(id: @schedule.id) %></h4>
        <%= render 'schedules/chart' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
