<h1>My page</h1>
<p><%= @user.name %></p>
<h1><%= @user.profile %></h1>

<%= render partial: 'follow_link', locals: { user: @user } %>

<% unless current_user.id == @user.id %>
<%= render partial: 'follow_form', locals: { user: @user } %>
<% end %>
<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>

<div class="chart-container" style="position: relative; height:100vh; width:100vh; float: right;">
<canvas id="chart"></canvas>
