<h1><%= @user.name %>さんのページ</h1>
<div class="">
  <% if @user.icon.present? %>
    <%= image_tag @user.icon %>
  <% else %>
    <%= image_tag asset_path("usericon.png") %>
  <% end %>
</div>
<p><%= @user.name %></p>
<h1><%= @user.profile %></h1>

<%= render partial: 'follow_link', locals: { user: @user } %>

<% unless current_user.id == @user.id %>
<%= render partial: 'follow_form', locals: { user: @user } %>
<% else %>
<p><%= link_to "アカウント編集", edit_user_registration_path %></p>
<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
<% end %>

<div class="chart-container" style="position: relative; height:100vh; width:100vh; float: right;">
<canvas id="chart"></canvas>
