<div class="schedule-form">
  <%= form_with(model: schedule, local: true, url: choose_new_or_edit) do |f| %>
    <div class="container">
      <%= render partial: "shareds/schedule_error_messages", locals: { schedule: @schedule } %>
      <div class="row">

        <div class="schedule-area text-center col-md-6 col-sm-12">

          <div class="title-form d-inline-block">
            <p>タイトル</p>
            <%= f.text_field :title, maxlength: 30 %>
          </div>

          <div class="content-form d-inline-block">
            <p>内容</p>
            <%= f.text_area :content, maxlength: 300 %>
          </div>

        </div>

        <div class="schedule-plan-area text-center col-md-6 col-sm-12">
          <p>24時間になるように入力してください。</p>
          <p>2つ目以降の開始時間は一つ前の終了時間と同じ時間にしてください。</p>

          <table>
            <thead>
              <tr>
                <th class="text-center">予定</th>
                <th></th>
                <th class="text-center">開始時間</th>
                <th></th>
                <th class="text-center">終了時間</th>
                <th class="text-center"><%= link_to_add_association '追加', f, :schedule_plans, id: 'add-link', class: "btn btn-sm btn-primary", data: {association_insertion_node: '#schedule_plans', association_insertion_method: 'append'} %></th>
              </tr>
            </thead>
            <tbody id="schedule_plans">
              <%= f.fields_for :schedule_plans do |schedule_plan| %>
                <%= render 'schedule_plan_fields', f: schedule_plan %>
              <% end %>
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <div class="confirm-btn text-center">
      <% if controller.action_name == "new" %>
        <%= f.submit "確認",  class: "btn btn-primary btn-lg" %>
      <% else %>
        <%= f.submit "投稿",  class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>

  <% end %>
</div>
