<div class="schedules-schedule-content">
  <div class="container">
    <div class="row">
      <div class="contents col-md-4 col-sm-12">

        <div class="title">
          <h3 class="font-weight-bold mb-3"><%= @schedule.title %></h3>
        </div>

        <div class="user">
          <p>
            作成者 :
            <% if @schedule.user.icon.present? %>
              <%= image_tag schedule.user.icon %>
            <% else %>
              <%= image_tag asset_path("usericon.png") %>
            <% end %>
            <%= link_to @schedule.user.name, user_path(id:@schedule.user.id) %>
          </p>
        </div>

        <% unless controller.action_name == "confirm" %>
          <div class="data">
            <span>作成日 : <%= @schedule.updated_at.strftime("%Y-%m-%d") %></span>
            <span class="ml-5">
              <i class="fa fa-heart color-red"></i>
              : <%= @schedule.favorites.count %>
            </span>
            <span class="ml-1">
              <i class="fa fa-check color-blue"></i>
              : <%= @schedule.user_ids.count %>
            </span>
          </div>
        <% end %>

        <div class="plan text-center">
          <table>
            <thead>
              <tr>
                <th>予定</th>
                <th></th>
                <th>開始時間</th>
                <th></th>
                <th>終了時間</th>
              </tr>
            </thead>
            <tbody>
              <% @schedule.schedule_plans.each do |schedule_plan| %>
                <tr>
                  <td><%= schedule_plan.plan %></td>
                  <td>:</td>
                  <td><%= schedule_plan.start_time.strftime("%H : %M") %></td>
                  <td>〜</td>
                  <td><%= schedule_plan.end_time.strftime("%H : %M") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="content">
          <p><%= @schedule.content %></p>
        </div>

      </div>

      <div class="charts p-0 col-md-8 col-sm-12">
        <%= render 'chart' %>
      </div>
    </div>
  </div>
</div>
