<div class="schedules-show">
  <div class="container">
    <div class="row">
      <div class="schedule-show-contents col-md-5 col-sm-12">
        <div class="schedules-show-title">
          <h4 class="font-weight-bold mb-3"><%= @schedule.title %></h4>
        </div>
        <div class="schedule-show-user">
          <p>作成者 : <%= link_to @user.name, user_path(id:@user.id) %></p>
        </div>
        <div class="schedules-show-plan text-center">
          <table>
            <thead>
              <tr>
                <th>予定</th>
                <th></th>
                <th>開始時間</th>
                <th></th>
                <th>終了時間</th>
              </tr>
            </thead>
            <tbody>
              <% @schedule.schedule_plans.each do |schedule_plan| %>
                <tr>
                  <td><%= schedule_plan.plan %></td>
                  <td>:</td>
                  <td><%= schedule_plan.start_time.strftime("%H : %M") %></td>
                  <td>〜</td>
                  <td><%= schedule_plan.end_time.strftime("%H : %M") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="schedules-show-content">
          <p><%= @schedule.content %></p>
        </div>
      </div>
      <div class="schedules-show-charts col-md-7 col-sm-12">
        <%= render 'chart' %>
      </div>
      </div>
    </div>
  </div>
