<div class="schedules-confirm">
  <%= form_with(model: @schedule, local: true, url: schedules_path) do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :content %>
    <%= f.fields_for :schedule_plans do |f| %>
      <%= f.hidden_field :plan %>
      <%= f.hidden_field :start_time %>
      <%= f.hidden_field :end_time %>
    <% end %>
    <%= render partial: 'schedule_content' %>
    <div class="create-btn text-center m-3">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <div class="back-btn text-center m-3">
    <%= form_with(model: @schedule, local: true, url: new_schedule_path, method: 'get') do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <%= f.fields_for :schedule_plans do |f| %>
        <%= f.hidden_field :plan %>
        <%= f.hidden_field :start_time %>
        <%= f.hidden_field :end_time %>
      <% end %>
      <%= f.submit "もどる", name: 'back', class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
