<h1>ニュー</h1>

<%= form_with(model: @schedule, local: true, url: confirm_schedules_path) do |f| %>
<%= f.text_field :title %><hr>

<%= f.fields_for :schedule_plans do |f| %>
  <%= f.text_field :plan %>
  <%= f.time_select :start_time, minute_step: 10 %>
  <%= f.time_select :end_time, minute_step: 10 %><br>
<% end %>
<%= f.fields_for :schedule_plans do |f| %>
<%= f.text_field :plan %>
<%= f.time_select :start_time, minute_step: 10 %>
<%= f.time_select :end_time, minute_step: 10 %><br>
<% end %>
<%= f.fields_for :schedule_plans do |f| %>
<%= f.text_field :plan %>
<%= f.time_select :start_time, minute_step: 10 %>
<%= f.time_select :end_time, minute_step: 10 %><hr>
<% end %>

<%= f.text_area :content %>
<%= f.submit "確認" %>
<% end %>
