<h1>ニュー</h1>

<%= form_with(model: @schedule, local: true, url: confirm_schedules_path) do |f| %>
<%= f.text_field :title %><hr>
<div class="schedule-form">
  <%= f.fields_for :schedule_plans do |schedule_plan| %>
    <%= link_to_add_association '追加', f, :schedule_plans, id: 'add-link', data: {association_insertion_node: '#schedule_plans', association_insertion_method: 'append'} %>

    <table>
      <thead>
        <tr>
          <th>プラン</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="schedule_plans">
        <%= render 'schedule_plan_fields', f: schedule_plan %>
  <% end %>
</tbody>
</table>

</div>


<%= f.text_area :content %>
<%= f.submit "確認" %>
<% end %>

<div class="chart-container" style="position: relative; height:100vh; width:100vh; float: right;">
<canvas id="chart"></canvas>
