<h1>ショウ</h1>
<%= @user.name %>
<%= @schedule.title %>

<% @schedule.schedule_plans.each do |schedule_plan| %>
<%= schedule_plan.plan %><br>
<%= schedule_plan.start_time.strftime("%H : %M") %><br>
<%= schedule_plan.end_time.strftime("%H : %M") %><br>
<% end %>

<%= @schedule.content %>

<div class="chart-container" style="position: relative; height:100vh; width:100vh; float: right;">
<canvas id="chart"></canvas>

<% unless @schedule.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(schedule_id: @schedule.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to '選ぶ', schedule_choise_user_path(id: @schedule.id), method: :patch, class: 'btn' %>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, schedule: @schedule } %>
</div>


  <%= render partial: 'comments/form', locals: { comment: @comment, schedule: @schedule } %>
