<div class="schedules-show">
  <%= render partial: 'schedule_content' %>
</div>
  <div class="show-btn text-center m-3">
  <% if current_user.schedule_id == @schedule.id %>
    <p class="btn btn-primary disabled fa fa-check fa-2x">選択中</p>
  <% else %>
    <%= link_to 'Trace', schedule_trace_user_path(id: @schedule.id), method: :patch, class: "btn btn-primary fa fa-check fa-2x" %>
  <% end %>
<div id="favorite_btn" class="favorite d-inline-block m-3">
  <%= render partial: 'favorite_btn', locals: { schedule: @schedule } %>
</div>
<div class="edit d-inline-block m-2">
  <% if current_user.id == @schedule.user_id %>
    <%= link_to '編集', edit_schedule_path(id: @schedule.id), class: 'btn btn-outline-secondary' %>
    <%= link_to '削除', schedule_path(id: @schedule.id), method: :delete, class: 'btn btn-outline-secondary' %>
  <% end %>
</div>
</div>
  <div class="schedules-show-comments text-center">
    <%= render partial: 'comments/form', locals: { comment: @comment, schedule: @schedule } %>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, schedule: @schedule } %>
  </div>
</div>
