<!DOCTYPE html>
<html>
  <head>
    <title>Comitrace</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <h2 class="text-primary"><%= link_to 'Comitrace', top_schedules_path %></h2>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="Comitrace">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item nav-link"><%= link_to 'スケジュール一覧', schedules_path %></li>
            <li class="nav-item nav-link"><%= link_to 'スケジュール作成', new_schedule_path %></li>
            <li class="nav-item nav-link"><%= link_to 'マイページ', user_path(current_user.id) %></li>
          <% else %>
            <li class="nav-item nav-link"><%= link_to 'ログイン', new_user_session_path %></li>
            <li class="nav-item nav-link"><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="wrapper" class="mt-5">
      <%= yield %>
    </div>

    <footer class="footer bg-light py-3">
      <div class="container">
        <p class="text-primary text-center mb-auto">Comitrace</p>
      </div>
    </footer>

    <% # toastr-railsでのフラッシュメッセージ用 %>
    <% flash.each do |type, msg| %>
      <% type = 'info' if type == 'notice' %>
      <% type = 'error' if type == 'alert' %>
      <script>
        toastr['<%= type %>']('<%= msg %>')
      </script>
    <% end %>
  </body>
</html>
